body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.sequence-header {
  color: white;
  font-family: sans-serif;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}

.key-dropdown {
  background-color: pink;
  width: 250px;
  height: 300px;
}

.instrument-dropdown {
  background-color: pink;
  width: 250px;
  height: 300px;
}

.hidden {
  display: none;
}

.bpm-btm {
  width: 100px;
  height: 100px;
  border: 2px solid green;
  border-radius: 50%;
}

.key {

}

.instrument {

}

#canvas {
  width: 500px;
  height: 500px;
}